.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-transform: uppercase;

}

.logoContainer {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 20px; /* Adjust this value for desired spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* Ensure it's above the navbar if they overlap */
  text-align: center; /* Centers the .logo image if it's inline/inline-block */
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}


.navLinks {
  display: flex;
  align-items: left;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}

.navLinks li {
  font-size: 70px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.navLinks li a {
  text-decoration: none;
}

.navLinks li a:hover {
  text-decoration: underline;
}

.navLinks li .logoContainer .logo:hover {
  text-decoration: underline;
}